Repository rust142/geeto: changes, and which lint-staged commands are due for each by the changed paths.
All: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix, yamllint -f parsable

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "bun ./scripts/typecheck-wrapper.js",
    "bun cspell:check",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,json}": [
    "bun cspell:check",
    "prettier --write"
  ],
  "*.md": [
    "bun cspell:check",
    "markdownlint --fix",
    "prettier --write"
  ],
  "*.{yml,yaml}": [
    "bun cspell:check",
    "yamllint -f parsable"
  ]
}

chore(release): v0.6.2
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

fix(copilot-sdk): Ensure Bun compatibility for internal CLI
  bun.lock
  package.json
  patches/@github%2Fcopilot-sdk@0.1.25.patch
  src/api/copilot-sdk.ts
  yarn.lock
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.6.3
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(api): add system Copilot CLI fallback and Windows support
  .cspell.json
  src/api/copilot-sdk.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.6.4
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

chore(repo): ignore instructions dir and add newline to Copilot CLI log
  .gitignore
  src/api/copilot-sdk.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.6.5
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(cli): centralize logging, spinner handling, and AI provider routing
  .cspell.json
  src/api/copilot-sdk.ts
  src/api/copilot.ts
  src/api/gemini.ts
  src/api/github.ts
  src/api/openrouter-sdk.ts
  src/api/openrouter.ts
  src/api/trello.ts
  src/core/copilot-setup.ts
  src/utils/branch-naming.ts
  src/utils/display.ts
  src/utils/git-ai.ts
  src/utils/git-errors.ts
  src/utils/logging.ts
  src/workflows/amend.ts
  src/workflows/branch-utils.ts
  src/workflows/cleanup.ts
  src/workflows/commit.ts
  src/workflows/history.ts
  src/workflows/issue.ts
  src/workflows/main-steps.ts
  src/workflows/pr.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/reword.ts
  src/workflows/security-gate.ts
  src/workflows/stash.ts
  src/workflows/undo.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add interactive arrow-key toggle to confirm prompt
  src/cli/input.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.6.6
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(cli/menu): add grouped multi-select with folder headers and file staging
  src/cli/menu.ts
  src/types/index.ts
  src/utils/display.ts
  src/workflows/main.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(install): clean up old geeto installations before reinstall
  tools/install.sh
Due: none

feat(cli): centralize AI prompts and refactor AI/CLI workflows
  .cspell.json
  .markdownlintignore
  package.json
  prompts/branch-name-prompt.md
  prompts/commit-message-prompt.md
  prompts/issue-prompt.md
  prompts/pr-prompt.md
  prompts/release-notes-prompt.md
  prompts/repo-description-prompt.md
  prompts/security-gate-prompt.md
  src/api/copilot-sdk.ts
  src/api/copilot.ts
  src/api/gemini-sdk.ts
  src/api/gemini.ts
  src/api/openrouter-sdk.ts
  src/api/openrouter.ts
  src/cli/input.ts
  src/cli/menu.ts
  src/index.ts
  src/types/index.ts
  src/utils/ai-provider-helpers.ts
  src/utils/ai-text.ts
  src/utils/ai-workflow.ts
  src/utils/github-helpers.ts
  src/utils/prompt-loader.ts
  src/workflows/branch-helpers.ts
  src/workflows/commit.ts
  src/workflows/issue.ts
  src/workflows/main-helpers.ts
  src/workflows/main.ts
  src/workflows/pr.ts
  src/workflows/release-notes.ts
  src/workflows/release-recover.ts
  src/workflows/release-sync.ts
  src/workflows/release-utils.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/reword.ts
  src/workflows/security-gate.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(scramble): simplify ScrambleProgress to single-line spinner
  src/utils/branch-naming.ts
  src/utils/git-ai.ts
  src/utils/git-errors.ts
  src/utils/scramble.ts
  src/workflows/amend.ts
  src/workflows/commit.ts
  src/workflows/main-steps.ts
  src/workflows/prune.ts
  src/workflows/pull.ts
  src/workflows/release-recover.ts
  src/workflows/release-sync.ts
  src/workflows/release.ts
  src/workflows/reword.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

refactor(input): simplify confirm prompt rendering
  src/cli/input.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(platform): add GitLab integration and unified platform API
  .cspell.json
  CONTRIBUTING.md
  README.md
  src/api/gitlab.ts
  src/api/platform.ts
  src/core/gitlab-setup.ts
  src/index.ts
  src/types/index.ts
  src/utils/config.ts
  src/utils/git-ai.ts
  src/utils/git.ts
  src/utils/github-helpers.ts
  src/workflows/alias.ts
  src/workflows/issue.ts
  src/workflows/main-steps.ts
  src/workflows/pr.ts
  src/workflows/release-sync.ts
  src/workflows/release-utils.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/security-gate.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

chore(release): v0.7.0-alpha.1
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(cli): remove inline file editor and switch default to vim
  src/cli/input.ts
  src/index.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(release): increase name padding for aligned labels
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.7.0-alpha.2
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(core): persist/manage AI models, add doctor workflow & task generation
  .cspell.json
  README.md
  src/api/copilot.ts
  src/api/gemini.ts
  src/cli/menu.ts
  src/core/copilot-setup.ts
  src/core/gemini-setup.ts
  src/core/openrouter-setup.ts
  src/index.ts
  src/workflows/doctor.ts
  src/workflows/settings.ts
  src/workflows/trello-menu.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

chore(release): v0.7.0-alpha.3
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(build): generate embedded prompts and improve Copilot SDK handling
  .cspell.json
  eslint.config.js
  package.json
  scripts/generate-prompts.ts
  src/api/copilot-sdk.ts
  src/utils/prompt-loader.ts
  src/utils/prompts-embedded.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(index): add static module map for Bun binary compatibility
  src/index.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.7.0-alpha.4
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(copilot): replace @github/copilot-sdk/CLI with Copilot REST API
  .cspell.json
  bun.lock
  package.json
  patches/@github%2Fcopilot-sdk@0.1.25.patch
  src/api/copilot-adapter.ts
  src/api/copilot-sdk.ts
  src/api/copilot.ts
  src/core/copilot-setup.ts
  src/types/copilot-sdk.d.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.8.0
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(workflows): add merge releases workflow to consolidate release notes
  src/api/copilot-sdk.ts
  src/workflows/release-merge.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.9.0
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(cli): add interactive submodule manager and local install
  .cspell.json
  package.json
  scripts/install-local.sh
  src/index.ts
  src/utils/exec.ts
  src/workflows/settings.ts
  src/workflows/submodules.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add Copilot API headers & retries, force reauth, and improve
  .gitignore
  src/api/copilot-sdk.ts
  src/core/copilot-setup.ts
  src/workflows/release-sync.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(release): add interactive package.json version bump and update to v0.9.0
  package.json
  src/workflows/release-merge.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.9.1
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(cli): streamline workflows and improve terminal rendering
  .cspell.json
  README.md
  package.json
  src/cli/menu.ts
  src/core/copilot-setup.ts
  src/core/gemini-setup.ts
  src/core/openrouter-setup.ts
  src/utils/branch-naming.ts
  src/utils/git-ai.ts
  src/utils/logging.ts
  src/utils/menu-builders.ts
  src/utils/scramble.ts
  src/workflows/ai-provider.ts
  src/workflows/branch-helpers.ts
  src/workflows/branch.ts
  src/workflows/commit.ts
  src/workflows/dry-run.ts
  src/workflows/issue.ts
  src/workflows/main-helpers.ts
  src/workflows/main.ts
  src/workflows/pr.ts
  src/workflows/release-merge.ts
  src/workflows/release-sync.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/reword.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(ai): add Groq provider and migrate SDKs to OpenAI client
  .cspell.json
  README.md
  bun.lock
  package.json
  src/api/copilot-sdk.ts
  src/api/copilot.ts
  src/api/groq-sdk.ts
  src/api/groq.ts
  src/api/openrouter-sdk.ts
  src/core/copilot-setup.ts
  src/core/groq-setup.ts
  src/core/setup.ts
  src/index.ts
  src/types/index.ts
  src/utils/ai-workflow.ts
  src/utils/branch-naming.ts
  src/utils/config.ts
  src/utils/git-ai.ts
  src/workflows/ai-provider.ts
  src/workflows/branch-helpers.ts
  src/workflows/branch.ts
  src/workflows/commit.ts
  src/workflows/issue.ts
  src/workflows/main-helpers.ts
  src/workflows/pr.ts
  src/workflows/release-merge.ts
  src/workflows/release-sync.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/reword.ts
  src/workflows/security-gate.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(ai): add Groq provider support
  src/api/copilot-sdk.ts
  src/workflows/commit.ts
  src/workflows/release-sync.ts
  src/workflows/release.ts
  src/workflows/reword.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): support global config, native multiline editing, and Trello tools
  README.md
  src/api/copilot.ts
  src/api/gemini.ts
  src/api/groq.ts
  src/api/openrouter-sdk.ts
  src/api/openrouter.ts
  src/api/trello.ts
  src/cli/input.ts
  src/cli/menu.ts
  src/core/gemini-setup.ts
  src/core/github-setup.ts
  src/core/gitlab-setup.ts
  src/core/groq-setup.ts
  src/core/openrouter-setup.ts
  src/core/setup.ts
  src/types/index.ts
  src/utils/config.ts
  src/workflows/branch.ts
  src/workflows/commit.ts
  src/workflows/issue.ts
  src/workflows/main.ts
  src/workflows/pr.ts
  src/workflows/release-merge.ts
  src/workflows/release.ts
  src/workflows/reword.ts
  src/workflows/settings.ts
  src/workflows/trello-menu.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

refactor(core): enhance release workflow and CLI
  RELEASE.MD
  src/cli/input.ts
  src/utils/git-ai-errors.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

refactor(input): improve multiline edit handling
  src/cli/input.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(ai): integrate Groq provider and improve state validation
  src/utils/ai-workflow.ts
  src/utils/branch-naming.ts
  src/utils/git-ai.ts
  src/utils/state.ts
  src/workflows/ai-provider.ts
  src/workflows/branch-helpers.ts
  src/workflows/branch.ts
  src/workflows/commit.ts
  src/workflows/issue.ts
  src/workflows/main-helpers.ts
  src/workflows/main.ts
  src/workflows/pr.ts
  src/workflows/release-merge.ts
  src/workflows/release-sync.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/reword.ts
  src/workflows/security-gate.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write
