Repository rust142/geeto: changes, and which lint-staged commands are due for each by the changed paths.
All: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix, yamllint -f parsable

chore(release): add --no-verify to release commit and use H2 changelog header
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.0
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

feat(release): add progress bar for git push in release workflow
  .cspell.json
  .markdownlintignore
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.1
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

feat(release): add build & publish binaries workflow and packaging
  .cspell.json
  .github/workflows/publish-binaries.yml
  README.md
  bun.lock
  scripts/build-deb.sh
  yarn.lock
Due: bun cspell:check, prettier --write, markdownlint --fix, yamllint -f parsable

chore(release): v0.3.2
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(package.json): normalize geeto bin path
  package.json
Due: bun cspell:check, prettier --write

docs(release): trim RELEASE.MD release history
  RELEASE.MD
Due: none

chore(release): v0.3.3
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

ci(release): remove GitHub Actions release workflow
  .github/workflows/release.yml
Due: bun cspell:check, yamllint -f parsable

ci(publish-binaries): generate Homebrew formula using env vars and heredoc
  .github/workflows/publish-binaries.yml
Due: bun cspell:check, yamllint -f parsable

chore(release): v0.3.4
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

fix(copilot-sdk): suppress Node.js experimental warnings from copilot subprocess
  src/api/copilot-sdk.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(brew): add Homebrew formula and update CI/.gitignore
  .github/workflows/publish-binaries.yml
  .gitignore
  Formula/geeto.rb
Due: bun cspell:check, yamllint -f parsable

ci(publish-binaries): add workflow_dispatch tag input and use RELEASE_TAG
  .github/workflows/publish-binaries.yml
Due: bun cspell:check, yamllint -f parsable

chore(release): v0.3.5
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(brew): move Homebrew formula updates to tap repo
  .github/workflows/publish-binaries.yml
  .gitignore
  Formula/geeto.rb
Due: bun cspell:check, yamllint -f parsable

feat(branch): add allowedBases config and branch base validation
  src/types/index.ts
  src/utils/config.ts
  src/workflows/branch.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(workflows): improve push error messages and exit on fatal error
  src/workflows/main-steps.ts
  src/workflows/main.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.6
  CHANGELOG.md
  RELEASE.MD
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

docs(release): trim RELEASE.MD history and remove outdated Homebrew/workflow notes
  RELEASE.MD
Due: none

chore(release): add generated VERSION constant and update release workflow
  src/index.ts
  src/version.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.7
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(release): add AI-generated release notes via providers
  src/api/copilot-sdk.ts
  src/api/copilot.ts
  src/api/gemini-sdk.ts
  src/api/gemini.ts
  src/api/openrouter-sdk.ts
  src/api/openrouter.ts
  src/utils/git-ai.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(cspell): add Bahasa to custom dictionary
  .cspell.json
Due: bun cspell:check, prettier --write

fix(release): sort git tags by creation date in release workflow
  .cspell.json
  CHANGELOG.md
  RELEASE.MD
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

chore(release): v0.3.8
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

docs(release): tidy CHANGELOG and RELEASE.MD
  CHANGELOG.md
  RELEASE.MD
Due: bun cspell:check, prettier --write, markdownlint --fix

feat(release): use saved AI provider and model from state
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

style(release): add blank line after saved AI config message
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.9
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(release): normalize release notes and publish GitHub Release when available
  RELEASE.MD
  src/api/copilot-sdk.ts
  src/api/gemini-sdk.ts
  src/api/openrouter-sdk.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.10
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(release): sync GitHub Releases for existing tags
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.3.11
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(release): add AI release notes, push tags, and delete releases
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(release): add tag recovery and use --no-verify for tag pushes
  .cspell.json
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add repo settings workflow and provider generateText APIs
  README.md
  package.json
  src/api/copilot-sdk.ts
  src/api/copilot.ts
  src/api/gemini-sdk.ts
  src/api/gemini.ts
  src/api/openrouter-sdk.ts
  src/api/openrouter.ts
  src/index.ts
  src/utils/git-ai.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

chore(release): v0.4.0
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

Path conditions:
  bun ./scripts/typecheck-wrapper.js: any of: *.{ts,tsx}
  bun cspell:check: (((any of: *.{ts,tsx}) or (any of: *.{js,json})) or (any of: *.md)) or (any of: *.{yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json})) or (any of: *.md)
  markdownlint --fix: any of: *.md
  yamllint -f parsable: any of: *.{yml,yaml}
