Repository rust142/geeto: changes, and which lint-staged commands are due for each by the changed paths.
All: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix, yamllint -f parsable

docs(repo): update contributing, security, code of conduct, and license
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(release): v0.4.1
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

ci(publish-binaries): use HOMEBREW_TAP_TOKEN for tap repo cloning
  .github/workflows/publish-binaries.yml
Due: bun cspell:check, yamllint -f parsable

feat(setup): improve interactive setup flows and installer scripts
  .cspell.json
  src/cli/input.ts
  src/core/copilot-setup.ts
  src/core/gemini-setup.ts
  src/core/github-setup.ts
  src/core/openrouter-setup.ts
  src/core/setup.ts
  src/core/trello-setup.ts
  src/utils/exec.ts
  src/utils/platform.ts
  src/workflows/author.ts
  tools/install.sh
  tools/uninstall.sh
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.4.2
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(updater): add update script and improve install/uninstall docs
  README.md
  tools/update.sh
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(release): v0.4.3
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(branch): display changed files with status before staging
  src/utils/branch-naming.ts
  src/workflows/branch.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.4.4
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(cli): add interactive git workflows (abort, pull, fetch, prune, status)
  .cspell.json
  src/index.ts
  src/workflows/abort.ts
  src/workflows/cleanup.ts
  src/workflows/fetch.ts
  src/workflows/prune.ts
  src/workflows/pull.ts
  src/workflows/status.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.5.0
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(docs): add installation instruction for scoop on windows
  README.md
Due: bun cspell:check, prettier --write, markdownlint --fix

feat(workflows): use async git execs and add spinners
  src/index.ts
  src/utils/git-errors.ts
  src/workflows/abort.ts
  src/workflows/amend.ts
  src/workflows/cleanup.ts
  src/workflows/fetch.ts
  src/workflows/pr.ts
  src/workflows/prune.ts
  src/workflows/pull.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add dry-run mode, revert command, and AI-assisted PR/issue flows
  .cspell.json
  package.json
  src/cli/input.ts
  src/index.ts
  src/utils/branch-naming.ts
  src/utils/dry-run.ts
  src/utils/exec.ts
  src/workflows/branch-utils.ts
  src/workflows/commit.ts
  src/workflows/dry-run.ts
  src/workflows/issue.ts
  src/workflows/main.ts
  src/workflows/pr.ts
  src/workflows/revert.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(workflows): remove empty console.log in push progress flow
  src/workflows/main.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add --alias flag and shell alias workflow
  .cspell.json
  src/index.ts
  src/workflows/alias.ts
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(workflows): insert blank line before progress bar when suppressing logs
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(reword): add interactive reword workflow
  src/cli/menu.ts
  src/index.ts
  src/workflows/alias.ts
  src/workflows/dry-run.ts
  src/workflows/reword.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(progress): add scramble progress indicator and replace spinners
  .cspell.json
  README.md
  scripts/build-deb.sh
  src/api/copilot.ts
  src/core/copilot-setup.ts
  src/core/setup.ts
  src/utils/branch-naming.ts
  src/utils/git-ai.ts
  src/utils/menu-builders.ts
  src/utils/scramble.ts
  src/workflows/ai-provider.ts
  src/workflows/branch-helpers.ts
  src/workflows/branch.ts
  src/workflows/commit.ts
  src/workflows/issue.ts
  src/workflows/main-steps.ts
  src/workflows/main.ts
  src/workflows/pr.ts
  src/workflows/pull.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/reword.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(scramble): add count-up step inputs and integrate into workflows
  .cspell.json
  src/utils/scramble.ts
  src/workflows/commit.ts
  src/workflows/main-steps.ts
  src/workflows/pull.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(scramble): support multi-counter step inputs and progress-based counting
  src/utils/scramble.ts
  src/workflows/commit.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(scramble): add addSteps and make git checks non-blocking
  src/utils/scramble.ts
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(progress): restore terminal lines correctly and avoid deleting local branch
  .cspell.json
  src/utils/scramble.ts
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

style(workflows): adjust console spacing in main-steps
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(workflows): remove redundant empty console.log before push
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

refactor(release): replace ProgressBar with ScrambleProgress
  src/cli/input.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

refactor(progress): replace log.spinner with ScrambleProgress
  src/core/copilot-setup.ts
  src/utils/git-ai.ts
  src/workflows/branch-helpers.ts
  src/workflows/cleanup.ts
  src/workflows/fetch.ts
  src/workflows/issue.ts
  src/workflows/pr.ts
  src/workflows/release.ts
  src/workflows/repo-settings.ts
  src/workflows/security-gate.ts
  src/workflows/trello-menu.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

refactor(progress): replace log.spinner with ScrambleProgress
  src/core/copilot-setup.ts
  src/utils/git-errors.ts
  src/workflows/amend.ts
  src/workflows/main-steps.ts
  src/workflows/prune.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

refactor(release): replace log.spinner with ScrambleProgress for multi-step spinners
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(release): v0.6.0
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(cli): add new Git commands and update project info
  README.md
  bun.lock
  package.json
  yarn.lock
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(release): v0.6.1
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

chore(release): v0.6.1
  CHANGELOG.md
  RELEASE.MD
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(release): publish v0.6.1 as a version-only update
  CHANGELOG.md
  RELEASE.MD
  package.json
  src/version.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix

feat(reword): add consistency checks, enhanced UI, and rebase safety
  src/workflows/reword.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(reword): refine commit format consistency checks
  src/workflows/reword.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add rich commit history and project task linking
  src/types/index.ts
  src/utils/branch-naming.ts
  src/utils/colors.ts
  src/utils/config.ts
  src/workflows/history.ts
  src/workflows/reword.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(cspell): add new words to dictionary
  .cspell.json
Due: bun cspell:check, prettier --write

Path conditions:
  bun ./scripts/typecheck-wrapper.js: any of: *.{ts,tsx}
  bun cspell:check: (((any of: *.{ts,tsx}) or (any of: *.{js,json})) or (any of: *.md)) or (any of: *.{yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json})) or (any of: *.md)
  markdownlint --fix: any of: *.md
  yamllint -f parsable: any of: *.{yml,yaml}
