Repository rust142/geeto: changes, and which lint-staged commands are due for each by the changed paths.
All: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write, markdownlint --fix, yamllint -f parsable

chore(lint): ignore generated CHANGELOG.md
  .lintstagedrc
  .markdownlintignore
  .prettierignore
Due: none

chore: release v0.1.0-beta.0
  CHANGELOG.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(package): rename package to geeto and update install instructions
  README.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(package): update package description
  package.json
Due: bun cspell:check, prettier --write

chore: release v0.1.0-beta.1
  CHANGELOG.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

docs(readme): add Support Palestine badges and update npm badge
  README.md
Due: bun cspell:check, prettier --write, markdownlint --fix

chore: release v0.1.0-beta.2
  CHANGELOG.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

chore(package): include bin and package.json, add pinst scripts, regen lock
  package.json
  yarn.lock
Due: bun cspell:check, prettier --write

chore(package): remove bin from published files
  package.json
Due: bun cspell:check, prettier --write

chore: release v0.1.0-beta.3
  CHANGELOG.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

feat(cli): print package.json version instead of hardcoded value
  src/index.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore: release v0.1.0
  CHANGELOG.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

docs(readme): add Demo section with asciinema demo
  .cspell.json
  README.md
Due: bun cspell:check, prettier --write, markdownlint --fix

docs(readme): replace asciicast badge with GitHub-hosted demo image
  README.md
Due: bun cspell:check, prettier --write, markdownlint --fix

docs(readme): add demo badge and demo image, remove duplicate section
  README.md
  images/demo.png
Due: bun cspell:check, prettier --write, markdownlint --fix

docs(readme): move demo image and add demo link
  README.md
Due: bun cspell:check, prettier --write, markdownlint --fix

fix(logging): remove hard-coded version from banner
  src/utils/logging.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore: release v0.1.1
  CHANGELOG.md
  package.json
Due: bun cspell:check, prettier --write, markdownlint --fix

feat(trello): add checklist support and multi-select card selection
  src/api/trello.ts
  src/cli/menu.ts
  src/types/index.ts
  src/workflows/trello-menu.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add range selection and clickable branch links
  src/cli/menu.ts
  src/index.ts
  src/workflows/cleanup.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(workflows): avoid logging 'Unknown' step when resuming workflow
  src/workflows/main.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): improve multiSelect rendering and add commit selection in security gate
  src/cli/menu.ts
  src/workflows/security-gate.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

chore(workflows): remove interactive UI tips and noisy logs
  src/workflows/cleanup.ts
  src/workflows/security-gate.ts
  src/workflows/trello-menu.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(workflows): include branch age and sort branches by staleness
  .cspell.json
  src/workflows/cleanup.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(config): add custom protected branches
  src/types/index.ts
  src/utils/config.ts
  src/workflows/cleanup.ts
  src/workflows/main-steps.ts
  src/workflows/settings.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add interactive branch switcher and improve menu rendering
  src/cli/menu.ts
  src/index.ts
  src/workflows/switch.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(workflows): add interactive branch compare command
  .cspell.json
  src/index.ts
  src/workflows/compare.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add interactive cherry-pick workflow
  src/index.ts
  src/workflows/cherry-pick.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(github): add interactive PR and Issue workflows
  .cspell.json
  src/api/github.ts
  src/core/github-setup.ts
  src/index.ts
  src/types/index.ts
  src/utils/config.ts
  src/workflows/issue.ts
  src/workflows/pr.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(history): add interactive commit history viewer
  .cspell.json
  src/index.ts
  src/workflows/history.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(stash): add interactive stash manager
  src/index.ts
  src/workflows/stash.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(amend): add interactive commit amend workflow
  src/index.ts
  src/workflows/amend.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add --stats command and repository statistics dashboard
  src/index.ts
  src/workflows/stats.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(undo): add interactive undo last action workflow
  src/index.ts
  src/workflows/undo.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(release): add release/tag manager workflow and --tag CLI flag
  .cspell.json
  src/index.ts
  src/workflows/release.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add short flag aliases and improve help output
  src/index.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(display): add boxed UI, file status badges, and step progress
  src/utils/display.ts
  src/utils/exec.ts
  src/utils/git.ts
  src/utils/logging.ts
  src/workflows/branch.ts
  src/workflows/commit.ts
  src/workflows/main-steps.ts
  src/workflows/main.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

feat(cli): add inline terminal editor for editing files and commits
  .cspell.json
  src/cli/input.ts
  src/index.ts
  src/workflows/commit.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(workflows): pass true flag to exec when deleting local branches
  src/workflows/main-steps.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

fix(git): pass true to exec and silence push/branch logs
  src/utils/branch-naming.ts
  src/utils/git-errors.ts
  src/workflows/main-steps.ts
  src/workflows/main.ts
Due: bun ./scripts/typecheck-wrapper.js, bun cspell:check, eslint --fix, prettier --write

Path conditions:
  bun ./scripts/typecheck-wrapper.js: any of: *.{ts,tsx}
  bun cspell:check: (((any of: *.{ts,tsx}) or (any of: *.{js,json})) or (any of: *.md)) or (any of: *.{yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,json})) or (any of: *.md)
  markdownlint --fix: any of: *.md
  yamllint -f parsable: any of: *.{yml,yaml}
